

.container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 60px;
}

.row:after {
    display: table;
    clear: both;
    content: "";
}

.col-25 {
    float: left;
    width: 10%;
    margin-top: 10px;
  }

  .col-75 {
    float: left;
    width: 90%;
    margin-top: 10px;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #27e4c4;
    color: white;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 8px;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
    }

    input[type=submit] {
        margin-top: 4px;
        width: 100%;
    }
  }